<?xml version="1.0" encoding="utf-8" ?>
<config>
	<destination>docs\</destination>

	<title>Molten Engine</title>
	<source>Source\</source>

	<intro>Here you can find all of the available types in Molten. Click on a namespace to expand/close it.</intro>
	
	<!--A list of css classes for various documentation elements. Mainly used when parsing summary strings.-->
	<css>
		<target>doc-target</target>
		<invalid>doc-invalid</invalid>
	</css>
	
	<definitions>
		<def>src\Molten.Engine.xml</def>
		<def>src\Molten.Math.xml</def>
		<def>src\Molten.Utility.xml</def>
		<def>src\Molten.Audio.OpenAL.xml</def>
		<def>src\Molten.Graphics.DXC.xml</def>
		<def>src\Molten.Graphics.DXGI.xml</def>
	</definitions>

	<nuget>
		<store>packages\</store>
		<package>
			<name>Newtonsoft.Json</name>
			<version>13.0.1</version>
			<framework>netstandard2.0</framework>
		</package>
		<package>
			<name>Magick.NET.Core</name>
			<version>12.1.0</version>
			<framework>netstandard20</framework>
		</package>
		<package>
			<name>Magick.NET-Q8-AnyCPU</name>
			<version>12.1.0</version>
			<framework>netstandard20</framework>
		</package>
	</nuget>
</config>
